<div class="users">
  <h1>HI!!! HERE ARE YOUR FELLOW USERS!</h1>
  <% @users.each do |user| %>
  <a href="<%= user_path(user) %>">
    <%= user.username.upcase %><br>
      <img src="<%= user.avatar_url %>"></img>
  </a>
  <% end %>
</div>

<p class="back"><%= link_to "Back to Home", categories_path %></p>
