<div class="form">
<h1>Edit/Delete Post</h1>

<%= render "form" %>

<p>
  <%= link_to "Back Your Lists", users_path(current_user) %>
</p>
<p>
  <%= link_to "Back to Home", categories_path %>
</p>
</div>
