<div class="form">
  <h1>New Post</h1>
  <%= render "form" %>

  <p>
    <%= link_to "Back Your Lists", user_path(current_user) %>
  </p>
  <p>
    <%= link_to "Back to Home", categories_path %>
  </p>
</div>
